Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64492/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64492/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64492/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOSSservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBooks" />
  </wsdl:message>
  <wsdl:message name="IService1_getBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_getCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExist" />
  </wsdl:message>
  <wsdl:message name="IService1_UserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetPass_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPass" />
  </wsdl:message>
  <wsdl:message name="IService1_ResetPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBook_InputMessage">
    <wsdl:part name="parameters" element="tns:getBook" />
  </wsdl:message>
  <wsdl:message name="IService1_getBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBooks" message="tns:IService1_getBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBooksResponse" message="tns:IService1_getBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCategory" message="tns:IService1_getCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCategoryResponse" message="tns:IService1_getCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserExist" message="tns:IService1_UserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserExistResponse" message="tns:IService1_UserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ResetPass" message="tns:IService1_ResetPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResetPassResponse" message="tns:IService1_ResetPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBook" message="tns:IService1_getBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBookResponse" message="tns:IService1_getBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBooks">
      <soap:operation soapAction="http://tempuri.org/IService1/getBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/getCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExist">
      <soap:operation soapAction="http://tempuri.org/IService1/UserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPass">
      <soap:operation soapAction="http://tempuri.org/IService1/ResetPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBook">
      <soap:operation soapAction="http://tempuri.org/IService1/getBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64492/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>